html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: var(--background) !important;
    overflow: hidden;
}

@import url('https://rsms.me/inter/inter.css');
div, textarea {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

@supports (font-variation-settings: normal) {
    div, textarea {
        font-family: 'Inter var', sans-serif;
        font-size: 12px;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

pre, div wordwrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

pre {
    border: 2px solid var(--b_low);
}

img {
    max-width: 100%;
    height: auto;
}

div {
    background-color: var(--background);
    color: var(--f_high) !important;
}

#parent {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#top-bar {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--b_med);
    overflow: hidden;
    font-weight: bold;
    height: auto;
}

#fname {
    margin: 5px !important;
    flex-grow: 9;
    overflow: hidden;
    display: inline-block !important;
}

#stat {
    margin: 5px !important;
    flex-grow: 1;
    text-align: right;
    overflow: hidden;
    display: inline-block !important;
}

#editor {
    width: 50%;
    height: calc(100% - 40px);
    padding: 10px;
    margin: 0px;
    display: block;
    float: left;
    font-size: 1em;
    flex: 1;
}

#render {
    width: auto;
    height: calc(100% - 40px);
    flex: 1;
    padding: 10px;
    margin: 0px;
    overflow: scroll;
    font-size: 1em !important;
    display: block;
}
