body {
    background: var(--background) !important;
}

h1 {
    color: var(--f_high) !important;
    font-size: 5em !important;
}

h2 {
    color: var(--f_high) !important;
    font-size: 4vw !important;
}

h3 {
    color: var(--f_high) !important;
    font-size: 3vw !important;
}

h4 {
    color: var(--f_high) !important;
    font-size: 2vw !important;
}

blockquote {
    border-left: 2px solid var(--f_med);
    margin-left: 1.5em;
    padding-left: 0.5em;
}

a:link {
    text-decoration: none;
    color: var(--f_high);
  }